header {
	background:#ffffff;
/*	padding:20px;*/
	height: 60px;
	width:100%;
	position:fixed;
	top:0;
	border-bottom:thick solid #cccccc;
	z-index: 2;
}
.hope {
	height:60px;
	width:960px;
	margin:0 auto;
}
.name {
	padding:20px 0;
	width:120px;
	height:20px;
	background:#4aaaa5;
	float: left;
	text-align:center;
	color: #ffffff;
	font-size:20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.links {
	float: right;
	padding: 20px;
}
a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	text-decoration: none;
}
h1 {
	color:#4aaaa5;
	font-size:28px;
	padding:20px;
	border-bottom:thick solid #dddddd; 
}
body {
	position:relative;
	clear: both;
	background-image: url("../images/intersection.png");
}
article {
	width:610px;
	padding: 20px;
	float:left;
	background:#ffffff;
}
aside {
	float: right;
	width:230px;
	padding:20px;
	background:#ffffff;
}
footer {
	clear:both;
	background:#666666;
	border-top: thick solid #4aaaa5;
	text-align:center;
	padding: 20px;
	margin-top:60px;
	color: #80878e;
}
section {
	margin:80px auto 20px;
	min-height: calc(100vh - 53px);
	width:960px;
}
#profile {
	float:left;
	margin:10px;
}
.bio-text {
	margin:10px;
}
.img {
	width:27.5%;
	padding:5px;
	border:none;
}
.image-container {
	padding:20px;
	margin:0 auto;
}
h2 {
	padding:10px;
	font-size:18px;
	text-align:center;
	border-bottom:thin solid #cccccc;
	color:#4aaaa5;
}
p {
	color:#777777;
	font-family:Arial;
}

input[type=text], textarea {
	width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
textarea {
	height:100px;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.form {
    padding: 20px;
}
label {
	color: #777777;
}
.portfolio-pic-container {
	width:500px;
	margin:0 auto;
}
.portfolio-pic
{
	position:relative;
}
.portfolio-img-left {
	float: left;
	margin:10px;
}
.portfolio-img-right {
	float: right;
	margin:10px;
}
.title-bar {
	height:20px;
	width:180px;
	padding: 10px;
	position:absolute;
	background: #4aaaa5;
	text-align:center;
	font-size:18px;
}
.title-bar-1 {
	bottom:-140px;
	left:10px;
}
.title-bar-2 {
	bottom:-140px;
	left:290px;
}
.title-bar-3 {
	bottom:-310px;
	left:10px;
}
.title-bar-4 {
	bottom:-310px;
	left:290px;
}
.title-bar-5 {
	bottom:-480px;
	left:10px;
}
h3 {
	color:#fff;
}
a:hover {
	color:red;
}
.bio-text {
	line-height: 24px;
}
@media screen and (max-width: 980px) and (min-width: 769px) {
  section {
  	width:640px;
  }
  article{
  	width:250px;
  }
  aside {
  	width:250px;
  }
  .hope {
  	width:640px;
  }
  .portfolio-pic-container {
	width:100%;
	margin:0 auto;
}
.portfolio-pic
{
	margin:0 auto;
	position:relative;
	left:25px;
}
.portfolio-img-left {
	float: none;
	margin:10px auto;
}
.portfolio-img-right {
	float: none;
	margin:10px auto;
}
.title-bar {
	height:20px;
	width:180px;
	padding: 10px;
	position:relative;
	background: #4aaaa5;
	text-align:center;
	font-size:18px;
	bottom:70px;
	left:0px;
}
}
@media screen and (max-width: 768px) and (min-width: 641px) {
   .portfolio-pic-container {
	width:100%;
	margin:0 auto;
	margin-top: 10px;
	position:relative;
}
.portfolio-pic
{
	margin:0 auto;
	position:relative;
}
.portfolio-img-left {
	margin:0;
}
.portfolio-img-right {
	position:absolute;
	right:0;
	margin:0;
	bottom:80px;
}
.title-bar {
	clear:both;
	height:20px;
	width:180px;
	padding: 10px;
	position:relative;
	background: #4aaaa5;
	text-align:center;
	font-size:18px;
}
.title-bar-1 {
	bottom:60px;
	left:0px;
}
.title-bar-2 {
	bottom:100px;
	left:340px;
}
.title-bar-3 {
	bottom:60px;
	left:0px;
}
.title-bar-4 {
	bottom:100px;
	left:340px;
}
.title-bar-5 {
	bottom:60px;
	left:0px;
}
  section {
  	width:560px;
  }
  article{
  	width:540px;
  	float:none;
  	padding-bottom:40px;
  	margin-bottom:20px;
  }
  h2 {
  	  	text-align:left;
  }
  .img {
	width:7.5%;
	padding:5px;
	border:none;
}
  aside {
  	clear: both;
  	width:95%;
  	float:none;
  }
  .hope {
  	width:90%;
  }
}
@media screen and (max-width: 640px) {
  header {
  	position:static;
  	height:120px;
  }
  .hope {
  	width:100%;
  }
  .name {
  	width:100%;
  	height:40%;
  	float:none;
  }
  .links {
  	text-align:center;
  	width: 100%;
  	height:20%;
  	float:none;
  }
   section {
  	width:360px;
  }
  article{
  	width:340px;
  	float:none;
  	padding-bottom:40px;
  	margin-bottom:20px;
  }
  h2 {
  	  	text-align:left;
  }
  .img {
	width:7.5%;
	padding:5px;
	border:none;
}
  aside {
  	width:95%;
  	float:none;
  }
  #profile {
  	float:none;
  	width:100%;
  	height:100%;
  }
    .portfolio-pic-container {
	width:100%;
	text-align:center;
	margin:0 auto;
	position:relative;
}
.portfolio-pic
{
	position:static;
	text-align:center;
}
.portfolio-img-left {
	text-align:center;
	float: none;
	position:static;
}
.portfolio-img-right {
	position:static;
	float: none;
	text-align:center;
}
.title-bar {
	height:20px;
	padding: 10px;
	position:relative;
	background: #4aaaa5;
	text-align:center;
	font-size:18px;
	top:-70px;
	left: 70px;
}
}
